[2015-11-14 20:14] vhladama opened #2 "RbVmomi::Fault: InvalidProperty when retrieving collection or individual virtual machines"
Exception:
[code]

Stacktrace:
[code]

Environment:
[code]

Replication code:
[code]

To figure out which attrs where causing errors, use the replication code above, but replace the last line with the following:

[code]

result:
`[[:corespersocket, "config.hardware.numCoresPerSocket"], [:firmware, "config.firmware"]]`

Even though RbVmomi is raising the error, I don't think it's necessarily RbVmom

[2015-11-16 11:45] plribeiro3000 commented on #2
@vhladama You think thats this list of attributes is wrong?

[2015-11-16 16:14] jrgarcia commented on #2
@vhladama We just tried it in a lab environment here and had no issues. However, the only instance of vSphere I have access to at the moment is 5.5.0u2e. I specified `vsphere_rev: '4.0'` and `vsphere_rev: '4.1'`, but I'm not sure if that is enough to replicate the issue.

[2015-11-16 23:42] vhladama commented on #2
Is there any way we can query the connected vsphere host to get more detailed version info? Api revision number or other version info? Or do I need to connect to the console to discover that?

[2015-11-17 16:14] jrgarcia commented on #2
@vhladama I couldn't find a way to do that. I had to connect to vSphere to get that info.

[2015-11-17 16:43] coliver opened #7 "nil error when calling .snapshots on a server with no snapshots"
[code]

For convenience:
https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/requests/compute/list_vm_snapshots.rb#L6

[2015-11-17 18:04] coliver commented on #7
I'm working on a pull request. This seems like a simple change...

[2015-11-18 16:48] coliver commented on #7
https://github.com/fog/fog-vsphere/pull/8

[2015-11-18 17:01] #7 closed

[2015-11-25 09:42] nagarjuna opened #10 "issue in integrating in foreman"
I am trying to integrate fog-vsphere gem in foreman(http://www.theforeman.org/) application. When i try to use, i am getting below error

config = {
  provider: 'vsphere',
  vsphere_ssl: true,
  vsphere_rev: '4.0', # also fails using 4.1
  vsphere_username: 'root',
  vsphere_password: 'somepassword',
  vsphere_server: 'vcenter01',
  vsphere_expected_pubkey_hash: 'hash'
}

connection = Fog::Compute

[2015-11-25 11:30] shlomizadok commented on #10
@nagarjuna #11 solves it (see also discussion here: https://github.com/theforeman/foreman/pull/2900#issuecomment-159566435)

[2015-11-25 12:17] nagarjuna opened #12 "vSphere host snapshot feature in foreman"
Hi,

I am trying to implement snapshot feature for host in VMware compute resource. So this plugin will provide create/list/delete/restore snapshot of host in foreman. Will you please provide documentation on fog-vsphere gem to implement this plugin?

like methods to call to create/list/delete/restore snapshot using fog-vsphere gem

[2015-11-25 17:21] timogoebel commented on #10
@shlomizadok : I tested this more thorough, I think the problem is still there:

The changes I made to my local foreman env:
[code]

fog and fog-vsphere are at the latest commit.

This results in the following error:
[code]

I think, the changes to fog are also important. If I omit them, everything works - but the new code in fog-vsphere is not available.
Any idea why this is still happening? I be

[2015-11-26 09:41] timogoebel commented on #10
This is not a fog issue, it's a foreman one. This is what you need to do:

[code]

[2015-11-26 11:22] plribeiro3000 commented on #10
@nagarjuna Can you confirm that what @timogoebel suggested works?

Thanks!

[2016-01-12 13:32] timogoebel commented on #10
@plribeiro3000 : I think, you can close this issue as foreman now uses fog 1.37.0 and fog-vsphere..

[2016-01-12 13:33] plribeiro3000 commented on #10
Awesome. Thanks!

[2016-01-12 13:33] #10 closed

[2016-01-28 21:31] jrgarcia commented on #2
@vhladama Is this issue still occurring with the latest version? I'd like to fix this if it's still a problem for you, otherwise it would be nice to close this out.

[2016-01-28 21:38] jrgarcia commented on #12
@nagarjuna Are you just looking for documentation on how to use the gem? If so, I'll see what I can do for this. I inherited this codebase so I'm not too incredibly familiar with it, but I'll do what I can in the coming weeks.

[2016-02-02 23:49] kireevco opened #27 "Associating VMs breaks on some ESXi hosts (from theforeman)"
It happens on some ESXi server, and some servers are ok. I screaming for help to get some direction on this strange issue.

Trace:
[code]

Clone of https://github.com/fog/fog/issues/3835

[2016-02-02 23:59] plribeiro3000 commented on #27
@kireevco Could you try to use the latest version of `fog`?

[2016-02-03 00:21] kireevco commented on #27
@plribeiro3000 I guess I could, but I have a feeling something could be wrong with my ESXi hosts list.
And I would prefer to know why it works on a different ESXi host...
Maybe some VM attributes are missing on the faulty ones...

[2016-02-03 00:23] plribeiro3000 commented on #27
@kireevco Not sure. I'm not that into `vsphere`. But to help you out with a bug fix you will need to ensure you are using the latest version so we can go from there.

[2016-02-04 15:55] jrgarcia commented on #27
@kireevco I realize that you may not have control over what version of Foreman you are using and it looks like the gems it is using are vendor'ed into it. Without moving to `fog-vsphere`, it will be tough to do much. I don't know much about Foreman or vSphere (surprisingly), but if you can tell me what version of Foreman you are using (that stacktrace doesn't show the version of Foreman), I'll see

[2016-02-04 16:19] timogoebel commented on #27
Looking at the stack trace and foreman code, it seems to leave the foreman code when calling "vm.mac".  This calls "mac" on the fog vsphere server model.
In fog we pass through here:
https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/models/compute/server.rb#L190 where we basically call the interfaces model.
The exception in the stack trace is then called here:
https://github.com/fog/f

[2016-02-04 19:49] kireevco commented on #27
I'm using Foreman 1.10.1 (latest stable) and I am trying to see why most of the ESXi servers work, and some don't.
The ones that don't work have VMs created programmatically by a different in-house software, so I'm suspecting something could be wrong there. And the solution could be fixing our software, not fog. Is there a REST call I can make to VMware to help with isolation and troubleshooting?

[2016-02-11 15:42] jrgarcia commented on #12
@nagarjuna I'm going to close this for now, but I do plan on adding a lot more documentation for this. I realize there is a severe lack of documentation and I'd really like to fix that.

[2016-02-11 15:42] #12 closed

[2016-03-07 14:19] jfhutchi opened #30 "tools_installed? returns true when the tools are not installed"
def tools_installed?
     tools_state != "toolsNotInstalled"
 end

I am using vSphere 5.5 when I return the server object the hash states
 tools_version="guestToolsNotInstalled",
this would never return that they are not installed....

[2016-03-07 14:20] jfhutchi commented on #30
tools_state="toolsNotRunning",
    tools_version="guestToolsNotInstalled",

[2016-03-07 14:24] jrgarcia commented on #30
@jfhutchi I'll take a look at this as soon as I get a chance today

[2016-03-07 20:10] jrgarcia commented on #30
@jfhutchi See if the release of [v0.6.2](https://rubygems.org/gems/fog-vsphere/versions/0.6.2) fixes this for you.

[2016-03-07 20:23] jfhutchi commented on #30
Thanks, I'll test it asap!

[2016-03-07 20:35] jfhutchi commented on #30
<Fog::Compute::Vsphere::Server
    id="50143d18-69b6-cad5-3b2f-8bb0a31b0471",
    name="cobalt-vm-win1",
    uuid="421495c7-dada-4c9d-b16f-8a17948b5d09",
    hostname=nil,
    operatingsystem=nil,
    public_ip_address=nil,
    power_state="poweredOn",
    tools_state="toolsNotRunning",
    tools_version="guestToolsNotInstalled",

2.2.2 :011 > vm.tools_installed?
 => true

After installing 0.6.2 I

[2016-03-07 20:51] jrgarcia commented on #30
@jfhutchi Yeah, that was a ridiculous mistake on my part. Sorry about that. Let me fix it.

[2016-03-07 20:56] jfhutchi commented on #30
What was?

[2016-03-07 21:00] jrgarcia commented on #30
e60519b returns based on that `||`. If the first side is `true` (which it is in the case you've mentioned), the entire statement is `true` regardless of the second half. I'm fixing it right now and writing tests for the various cases. I'll cut a new release fixing this shortly.

[2016-03-07 21:16] jrgarcia commented on #30
@jfhutchi Try v0.6.3. This should fix the issue for you. Sorry again for the premature release.

[2016-03-07 21:26] jfhutchi commented on #30
@jrgarcia Works like a charm! Thanks you for the quick turn around!!

[2016-03-07 21:26] #30 closed

[2016-04-29 05:32] yehlo opened #32 "Can't get hypervisor without running VM"
We want to monitor all hypervisors in our firm, to achieve that we have a script which proceeds all the informationen we need. I need to get the hostnames of the hypervisors. I'm doing the following to get the hypervisors:

[code]
through this I get a list with all hypervisors, with a running vm. But since we also need the failover devices we have an uncomplete list.

To check if fog even realises

[2016-04-29 05:42] yehlo opened #33 "Can't get hypervisor withoug running VM"
We want to monitor all hypervisors in our firm, to achieve that we have a script which proceeds all the informationen we need. I need to get the hostnames of the hypervisors. I'm doing the following to get the hypervisors:

[code]
through this I get a list with all hypervisors, with a running vm. But since we also need the failover devices we have an uncomplete list.

To check if fog even realises

[2016-04-29 20:47] plribeiro3000 commented on #32
closing in favor of #32

[2016-04-29 20:47] #32 closed

[2016-05-01 01:03] plribeiro3000 commented on #33
I don't know the specifics about `vsphere` but fog does not support it.
If you find some way to do it through the api we can add it to `fog`.

[2016-05-13 16:29] jrgarcia commented on #33
@yehlo I know it's taken a while for me to get back to you. I'm not sure of a way to get that info from `fog-vsphere`, but you may be able to get that info from [RbVmomi](https://rubygems.org/gems/rbvmomi/versions/1.8.2). `fog-vsphere` is actually, for the most part, wrapping that library. I'm not too entirely familiar with it (the majority of `fog-vsphere` was written before I began maintaining i

[2016-05-13 16:30] #33 closed

[2016-05-13 16:30] #2 closed

[2016-05-13 18:00] vhladama commented on #2
Sorry, @jrgarcia

We stopped using the tool for a while.  We may pick it up again at a later point.

[2016-05-13 18:07] jrgarcia commented on #2
No problem! Just let me know if you need any help.

[2016-05-30 09:31] MiloCheung opened #36 "Error "unknown VMODL type VirtualPCIPassthroughVmiopBackingOption" in list_server_types api call"
When I call the function "Fog::Compute::Vsphere::Real::list_server_types", there are runtimeerror here:
RuntimeError: unknown VMODL type VirtualPCIPassthroughVmiopBackingOption
from /home/milo/.rvm/gems/ruby-2.1.2@app360/gems/rbvmomi-1.8.2/lib/rbvmomi/type_loader.rb:104:in `**make_type**'

When I set a debugger in there, I found that the BasicTypes module has not "**VirtualPCIPassthroughVmiopBacki

[2016-05-30 15:16] jrgarcia commented on #36
@MiloCheung Yeah, `rbvmomi` is significantly out of date. I'm not sure what will work and won't work with vSphere 6. Today is a national holiday for me, but let me take a look at the office tomorrow and see if this is an issue with that or not. If it is, I'll see if we can find a way to work around that for you. Thanks for the report!

[2016-05-31 12:47] finkelamein opened #37 "Vmware Customization doesn't (seem to) pick up run-once commands"
see https://groups.google.com/forum/#!topic/foreman-users/ixUzNUJ7dkY
and
http://projects.theforeman.org/issues/14979

I'm trying to pinpoint where to look for the bug.
Sadly i'm mostly blind for the part between rendered template and actual sysprep in the windows client.

[2016-05-31 15:40] jrgarcia commented on #37
@finkelamein I'm not familiar with Foreman or Windows, but we do parse the YAML [here](https://github.com/fog/fog-vsphere/blob/abe716059c830d039a90ea77f04efadb0d4daf11/lib/fog/vsphere/requests/compute/cloudinit_to_customspec.rb#L8). It appears the YAML that you mention [here](https://groups.google.com/forum/#!topic/foreman-users/ixUzNUJ7dkY) is an ERB template. I would need to see the rendered YAM

[2016-06-03 07:09] finkelamein commented on #37
See attached file, that is the foreman rendered yaml.
[w2k8r2-sysprep.yaml.txt](https://github.com/fog/fog-vsphere/files/297079/w2k8r2-sysprep.yaml.txt)

[2016-06-03 16:06] jrgarcia commented on #37
That YAML makes it through `fog-vsphere` just fine. The problem may be in RbVmomi.

[2016-06-08 06:45] finkelamein commented on #37
To aid debugging in RbVmomi, can you pastebin the data you pass to RbVmomi?

[2016-06-08 14:23] jrgarcia commented on #37
@finkelamein It's a Ruby `Hash` object. You can see the output here: https://gist.github.com/jrgarcia/049d5d7d1c02bd7ba9a607aed817ed8a

[2016-06-10 03:09] MiloCheung commented on #36
@jrgarcia thanks for your attention! I also want to ask, what is the maximum version can be supported by vsphere fog? should be vSphere version 5.5 or 5?

[2016-06-10 18:14] plribeiro3000 commented on #36
@jrgarcia Can we move away from `rbvmomi` and do http calls instead?

I can see this gem is giving us a lot of issue. Maybe is time to replace such and old and outdated dependency. WDYF?

[2016-06-10 18:24] jakerobinson commented on #36
@plribeiro3000 Unfortunately there is not much in the way of Ruby vSphere APIs. The API is generated from the VMODL provided by VMware. There has been much talk about adding the vSphere 6 support to RbVmomi. I'll ask around internally. :)

![rbvmomi](https://i.imgflip.com/15mutk.jpg)

[2016-06-10 18:30] plribeiro3000 commented on #36
@jakerobinson What do you mean there isn't much of an API?

How does `rbvimomi` interact with `vsphere`?

If it is just an http call we should be good to go since `fog` already have abstractions for it using `excon`.

[2016-06-10 18:40] jakerobinson commented on #36
I mean that there are no other APIs (SDKs) for vSphere on Ruby. The vSphere API is SOAP. You can't just make http calls :)

[2016-06-10 18:41] jakerobinson commented on #36
The path forward for now is to get vSphere 6 support in RbVmomi. I've communicated to some folks that can help us get there.

[2016-06-10 21:05] plribeiro3000 commented on #36
@jakerobinson Oh, did not know they have a SOAP api.

If `RbVmomi` support it is gonna be awesome, otherwise we will have to do it ourselves which is the path we should be following anyway. We should not add provider specific dependencies otherwise when someone use `fog` for another provider will install gems it does not need.

But for now i think we are good if support is added.

[2016-07-08 16:36] jrgarcia commented on #37
@finkelamein I'm going to close this for now. However, if you hear *anything* from RbVmomi that leads to you thinking this is occurring inside of fog-vsphere, please don't hesitate to re-open this.

[2016-07-08 16:36] #37 closed

[2016-07-08 16:39] jrgarcia commented on #36
@MiloCheung This appears to be a problem with RbVmomi that we can't work around. Hopefully, RbVmomi will be updated soon and this won't be an issue. If this continues to be a problem, we'll look into other options. Closing for now.

[2016-07-08 16:39] #36 closed

[2016-07-11 22:16] abohne opened #39 "Attempting to add more than 7 disks results in exception"
Due to the way vsphere handles the SCSI ID reservation for the HBA, there is a mismatch between unit_numbers that fog uses and the actual SCSI ID for volumes above 7

The error produced is as follows:
```/Users/abohne/.rvm/gems/ruby-2.3.0/gems/fog-vsphere-0.8.0/lib/fog/vsphere/models/compute/volume.rb:83:in `save': undefined method `id' for nil:NilClass (NoMethodError)
	from ./create_oracle_vmdks.

[2016-07-28 14:13] jberry opened #41 "vmware template deploy failing when using nicSettingMap"
Had to chop up some code to get this to work, so seems like a bug to me.  Here's my cloudinit for deploying a Vmware template with a static ip:

`LinuxPrep:
domain: <%= @host.domain %>
hostname: <%= @host.shortname%>
hwClockUTC: true
fqdn: <%= @host %>
ssh_pwauth: <%= @host.params['ssh_pwauth'] || true %>
timeZone: <%= @host.params['time-zone'] || 'UTC' %>

globalIPSettings:
  dnsSuffixList: [<%=

[2016-07-28 15:07] #41 closed

[2016-07-29 08:52] MiloCheung commented on #36
@plribeiro3000 @jrgarcia @jakerobinson  I will wait for the new version of RbVmomi.Thanks you all

[2016-07-29 12:44] plribeiro3000 commented on #36
@MiloCheung 👍

[2016-07-29 14:07] jrgarcia commented on #36
@MiloCheung It appears they [have updated RbVmomi](https://github.com/vmware/rbvmomi/pull/77); unfortunately, there has not been a new release since [October 1, 2014](https://rubygems.org/gems/rbvmomi/versions/1.8.2). You might be able to build a new Gem from source if you really need this. Otherwise, it might be a while before the latest version with the needed changes gets released.

[2016-08-08 17:21] #39 closed

[2016-08-31 16:40] plribeiro3000 opened #45 "add support for adding raw devices to VMs"
This support is available in PowerCLI and the Perl SDK, which indicates the vSphere API supports it. It'd be great if fog also supported this functionality.

Original issue opened by @gpetras at fog/fog#3866

[2016-08-31 16:40] plribeiro3000 commented on #45
cc/ @geemus

[2016-08-31 16:42] plribeiro3000 opened #46 "How to specify a cluster when cloning from template"
Hello,

How can I specify which cluster will be the VM cloned into?

My usecase is the following:
I have one datacenter `d1` with two clusters `c1d1` and `c2d1`. I want to create a VM called `m1c2d1` in cluster `c2d1` by cloning from a template `t1c1d1` (yes, the template is hosted on a cluster `c1d1`).

Thanks

Original issue opened by @pdilung at fog/fog#3657

[2016-08-31 16:43] plribeiro3000 commented on #46
cc/ @geemus @nirvdrum @estonfer

[2016-08-31 16:47] plribeiro3000 opened #47 "datacenter, cluster, resource_pool, mac_addresses details missing"
When I issue a list_virtual_machines, the datacenter, cluster, resource_pool, mac_addresses fields seem to not come across properly:

[code]

Original issue opened by @stonith at fog/fog#2950

[2016-08-31 16:47] plribeiro3000 commented on #47
cc/ @geemus @nirvdrum

[2016-08-31 16:51] plribeiro3000 opened #48 "lacks ability to fetch volume by ID"
As per @nirvdrum Fog currently lacks the ability to fetch a volume by ID, so we need to fetch all volumes for all servers to find the volume we want. This is terribly inefficient and fog should be updated.

Original issue opened by @stonith at fog/fog#2974

[2016-08-31 16:51] plribeiro3000 commented on #48
cc/ @geemus @nirvdrum

[2016-09-01 14:03] nirvdrum commented on #48
Thanks. It's been a while since I've looked at this one. I'll add it back to my list. Note that I'll be traveling for a conference next week, so we're realistically looking at a few weeks before I'll be able to dedicate resources to this one.

[2016-09-01 20:57] jrgarcia commented on #48
@nirvdrum @plribeiro3000 Is this specific to fog-vsphere? If so, I'll take a look at it. I'll be at a conference next week as well so it may be after that.

[2016-09-01 21:41] jrgarcia commented on #47
The problem is clearly right [here](https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/compute.rb#L182-L185). I'll take a look at fixing this today or tomorrow.

[2016-09-01 21:48] nirvdrum commented on #48
It is. I can't recall off-hand if it was a limitation of rbvmomi or a limitation of fog, however.

[2016-09-01 22:07] jrgarcia commented on #48
@nirvdrum Well, I just so happen to be the maintainer of RbVmomi now as well. 😄 Either way, I'll be working on it. I'll take a look as soon as I can.

[2016-09-01 22:12] jrgarcia commented on #47
Looking at a blame on this code points to fog/fog@036a0370744002d6727e68fdf075a3a3adca2559. Unfortunately, without any context, I'm unsure of why this change was originally made.

[2016-09-01 22:50] plribeiro3000 commented on #47
Well. The bad part is, there is no PR for this change so the real reason behind that might not come to light again unless @aussielunix or @jeffmccune chime in since this was on a really old version of `fog` - `1.1.11`.

It seems the issue was `allowing ram and num of cpu to be set when cloning` that started at fog/fog#1732.

I'm completely out on context here so i will just throw some ideas out.

[2016-09-02 15:24] jrgarcia commented on #47
@plribeiro3000 [This code](https://github.com/fog/fog/blob/036a0370744002d6727e68fdf075a3a3adca2559/lib/fog/vsphere/models/compute/server.rb#L55-L62) was added with the `Proc` stuff and appears to handle that. The issue I see, is if someone wants to use that `Hash` for reporting or something, they don't have that info available in the `Hash` without a `call` to those `Proc`s first.

[2016-09-02 15:30] plribeiro3000 commented on #47
I see.

I guess my point is that on the scenario you mentioned the user will have to wait a blocking operation anyway. So maybe we might want to remove that lazy loading feature on that call and remove support for those attributes (on this call). And then create a new one that would be a blocking operation and return everything.

Do you think thats something we can do without breaking too much cli

[2016-09-02 15:33] jrgarcia commented on #47
I'm not sure. Let me think on this a bit. That was my thought too, but I really don't want to break existing usage.

[2016-09-02 15:37] plribeiro3000 commented on #47
I agree. My thought right now is that maybe this breaking now will be better then a bigger breaking that might occur later if we don't act now. But i can't measure this, only you (😬).
Now that you pointed the attribute getters being overwritten to work lie that i believe this won't be a big issue later. The only thing to note is that it is overwriting the default behaviour of an attribute getter w

[2016-09-02 15:40] plribeiro3000 commented on #47
What about pushing lazy loading evaluated attributes to `fog-core` instead and then use it here as a DSL?

[2016-09-02 16:01] jrgarcia commented on #46
@pdilung I wish I could say there was more documentation. I had to dig through the code to find this. I'm hoping to start documenting this as soon is possible. I just haven't had a lot of time lately. Hopefully I'll get some time soon. Here is what I found:

You can pass the cluster through the `clone` options. For example,

[code]

This seems unintuitive to me, but that's how it appears to be don

[2016-09-02 16:01] #46 closed

[2016-09-02 16:07] jrgarcia commented on #47
Do you mean in general or does `fog-core` already support lazy loading?

[2016-09-02 16:08] plribeiro3000 commented on #47
I don't think it does, but we can add it. I'm pretty sure other providers could improve with such feature.

[2016-09-02 16:17] jrgarcia commented on #47
Ok. If that would be useful for others, I think that would be a good option. If it doesn't benefit the majority of providers, I'd say it doesn't belong in there (which I'm sure all would agree with). I'm up for discussing that further.

[2016-09-02 16:40] geemus commented on #47
I think there may be some lazy-loading in other places, but done manually (I don't think we've tried to do a more universal abstraction yet).

[2016-09-02 16:41] geemus commented on #45
Sounds good, would support somebody working on it.

[2016-09-02 17:05] jrgarcia commented on #45
I'll look into this. I can probably find the people working on PowerCLI and/or the Perl SDK to see what calls they're making to the vSphere API.

[2016-09-02 17:21] jrgarcia commented on #48
I could add a convenience method to handle this, but it would essentially be an abstraction over the looping described. I'll see what I can do within RbVmomi to handle this.

[2016-09-02 22:50] nirvdrum commented on #48
Hopefully you can find something more efficient. Currently I have to do something like the following:

https://github.com/rubber/rubber/blob/e1636996298b026b7712a54f539e7bd5b85ed17c/lib/rubber/cloud/vsphere.rb#L208-L217

It works, but it's a bit slow when you have a decent-sized cluster.

[2016-09-03 00:01] jrgarcia commented on #48
If all else fails, I'll talk to the vSphere team and see if they have any suggestions. I'm sure I can find something though. I just need to go through the manual.

[2016-11-24 07:42] johnhenriksson opened #61 "Unable to specify nicSettingMap"
I'm unable to set the property nicSettingMap in the customization_spec. More info here http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.customization.Specification.html#field_detail

I get this error message,

/Users/john/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/fog-vsphere-1.5.1/lib/fog/vsphere/requests/compute/vm_clone.rb:455:in `vm_clone': undefined method `k

[2016-11-24 15:54] jrgarcia commented on #61
Thanks for reporting this! It's a national holiday in the US, so I may not get to this for a few days. I'll certainly take a look as soon as I can. Thanks again for reporting this!

[2016-11-28 15:53] jrgarcia commented on #61
Can I see what you are passing into `vm_clone` for `nicSettingMap`? `nicSettingMap` expects an `Array`, but it looks like you may be passing something else?

[2016-12-05 16:50] jrgarcia commented on #61
@johnhenriksson Hey, I haven't heard back from you. I was curious if you're still having this issue. If so, can you send a copy (scrubbed if necessary) of what you are passing in?

[2016-12-06 11:42] johnhenriksson commented on #61
Thanks for the response, I've been busy and unable to respond.

Here's my script and with this I get the error message **fault.NicSettingMismatch.summary**

[code]

[2016-12-06 15:41] jrgarcia commented on #61
Thanks! I'll take a look at this today and see what I can find!

[2016-12-06 19:36] jrgarcia commented on #61
Based on

[code]

I'm curious what version of fog/fog-vsphere you are using. Can you show me the output of `gem list fog`?

[2016-12-07 10:20] johnhenriksson commented on #61
Here's the output :)

[code]

[2016-12-12 21:48] chris1984 opened #62 "Could not descend into . Please check your path. /Datacenters"
If you have a top level folder with a data center inside of it we get the following error:

Failed to create a compute VMWare (VMware) instance test.katellolabs.lan: Could not descend into . Please check your path. /Datacenters.

The failing code is:

 | Fog::Compute::Vsphere::NotFound: /Datacenters/Internal/RH_Engineering/TEST/Linux/Sat6_test_template was not found
 | /opt/theforeman/tfm/root/usr

[2016-12-12 21:55] jrgarcia commented on #62
Thanks for reporting! That is a much older version of `fog-vsphere`. I'm not sure that a newer version is going to solve the problem though.

I'll see if I can recreate the issue and provide a fix for that, though if this is through Foreman, I'm not sure that the fix will help you much. In providing a fix, I may be able to find a workaround though.

[2016-12-13 23:14] jrgarcia commented on #61
I'm still looking into this, but I'm having trouble recreating it with the code provided. Updating just to let you know I haven't dropped this.

[2016-12-20 17:01] chris1984 commented on #62
Thanks for trying to find a work-around. I can find a way around the Foreman piece, if you are able to find a work-around in the code. I will also see if there is a fix about getting a newer version of the gem put into Foreman.

[2017-01-03 14:05] chris1984 commented on #62
@jrgarcia Happy New Year, did you happen to find a work-around for this issue yet, or are you still looking into it?

[2017-01-03 15:59] jrgarcia commented on #62
@chris1984 Thanks! I've been on vacation for a while and just got back. I'll take a look today to see what I can find.

[2017-01-03 21:30] jrgarcia commented on #62
@chris1984 I'm sad to say that I've looked into this and while I believe the problem may be in `fog-vsphere`, there doesn't appear to be a way to work around it. I'm going to try and fix this without breaking other users, but that will involve a new release. If anything changes, you'll be the first to know!

[2017-01-09 13:25] ShimShtein opened #64 "Add ability to create eager-zeroed disks from thin templates"
Right now, every disk that is inherited from template, would remain thin.

The code missing relocation spec that will set the disk to `flat`, if the configuration is different from what was specified in the template.

[2017-01-13 09:49] MiloCheung opened #65 "How to run custom startup script/command by customization_spec?"
Hi all, I'm adding some startup command for windows server by "customization_spec" in vm_clone function. The windows server vm can be launched without any problem, but when I login into the vm, the startup command seem cannot perform. Am I misunderstand the usage of customization_spec?

Thank you very much.

Here's my testing code:
[code]

[2017-01-13 10:10] MiloCheung commented on #65
One more question, is it normal practice to config the startup command in vm_clone function? Or the template should be included the startup command/script? Thanks.

[2017-01-13 19:51] jrgarcia commented on #65
Hey, sorry it took me so long to respond. I've never seen this usage before so I'm going to have to look into this. I'll see what I can find out. Thanks for reporting this!

[2017-01-18 14:09] MiloCheung commented on #65
Thanks @jrgarcia , I also found that there are one more possible params for startup command under vm_clone function(refs: https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/requests/compute/vm_clone.rb).

The "guiRunOnce" params should be a setting for windows os to run specified command or script, but I also see that there are many required params need to fillin such as "guiUnattended

[2017-01-18 14:29] jrgarcia commented on #65
Here is the documentation for that object: https://pubs.vmware.com/vi3/sdk/ReferenceGuide/vim.vm.customization.Sysprep.html#field_detail

[2017-01-29 09:53] ShimShtein commented on #64
It's worth looking at VMWare API for better implementation, but I found a workaround: in order to make thick disks from thin templates, one must set `options[:transform]` to `flat`. The problem is that it's not per-disk setting, which means all disk will be thin or thick, based on this option.

[2017-01-31 21:56] 01100010011001010110010101110000 opened #69 "Cloning VMs from a template to a different data store when resource pools are not in use"
This is my first time opening an issue, so apologies in advance if this is lacking.

I am attempting to use The Foreman to provision VMs in VMware. When cloning a VM from a template on vSphere 6 when resource pools are not in use, unsure if this replicates itself on lower versions, the clone job will fail with

I think the error comes from this code block in fog/vsphere/requests/compute/vm_clone.r

[2017-01-31 22:21] jrgarcia commented on #69
Thanks for reporting this! I appreciate you taking the time to write up a summary of what's happening with a suggested fix.

Rather than putting the code that fixes this into an issue, could you create a pull request with the code that fixes this? With that, I can give you proper credit for the fix rather than have it under my name. If that's not possible, let me know and I'll add this code in and

[2017-01-31 22:23] 01100010011001010110010101110000 commented on #69
Certainly I can submit a pull request, and thanks for the quick response.

[2017-02-14 02:53] MiloCheung opened #71 "Create Volume Error (The undefined local variable or method `controllerKey')"
Hi all, the volume.save method will trigger the "The undefined local variable or method `controllerKey'" error. Instead of "controllerKey"(line 64), I only can find a key called "controller_key". Does anyone see this problem? Can we fix it to "self.controller_key = created.controller_key" ? thanks.

fog-vsphere version: 1.7.0
rbvmomi version: 1.9.4

Actual "created" value in volume.save method (fi

[2017-02-14 21:45] jrgarcia commented on #71
@MiloCheung Thanks for taking the time to report this! I have no problems changing that, but if you put in a pull request for this, you can get the credit for the change. If you'd rather just have me make the change, let me know and I'll do it. I'd just hate to take credit for your help finding, debugging, and reporting. Thanks again!

[2017-02-17 08:14] MiloCheung commented on #71
hi @jrgarcia ,I just created a [pull request](https://github.com/fog/fog-vsphere/pull/72) for this case. Please let me know if you need more info on it. Thanks!

[2017-02-20 16:46] scambra opened #75 "RbVmomi::Fault: ManagedObjectNotFound error on vm_migrate request"
I'm trying to migrate vm to different host, using this request:

[code]

Tried migrate vm with vcenter and it works. Also, in recent tasks of vcenter, I see migrate virtual maching task when running vm_migrate request, but I see relocate virtual machine when I migrate vm with vcenter.

[2017-02-21 16:48] jrgarcia commented on #75
You mention this is fixed with #74, does this completely fix the issue for you?

[2017-02-21 20:30] jrgarcia commented on #71
Closed by #72

[2017-02-21 20:30] #71 closed

[2017-02-22 07:44] scambra commented on #75
Yes, it does

[2017-02-22 09:10] jrgarcia commented on #75
Closed by #74

[2017-02-22 09:10] #75 closed

[2017-02-23 08:51] scambra opened #77 "Error when cloning vm and adding new volumes"
I can't add new volumes on clone, maybe I'm doing something wrong, or something else needs to be fixed

My code looks like this:

[code]
And I get this error:
NoMethodError (undefined method `volumes' for nil:NilClass):
  fog-vsphere (1.7.1) lib/fog/vsphere/models/compute/volume.rb:134:in `calculate_free_unit_number'
  fog-vsphere (1.7.1) lib/fog/vsphere/models/compute/volume.rb:99:in `set_unit_nu

[2017-02-23 09:30] MiloCheung opened #78 "Specify host error when cloning vm from template"
I am trying to specify the host target on clone vm action, but I found that the cluster info is required if I specified the host target.

The vm_clone code(line: 135 to 139):

[code]

The question is how can I pass the cluster info into vm_clone method? It try to get the cluster info from "attributes" parameter. And I can't figure out that how to make the cluster into the "attributes" parameter. S

[2017-02-23 12:02] jrgarcia commented on #78
This was fixed by #76. I just released a new gem (1.7.1) with that code in it yesterday.

[2017-02-23 12:03] #78 closed

[2017-02-23 12:04] jrgarcia commented on #78
Actually, try that and see if that fixes it, but I think this may be something else. Reopen this if that doesn't fix it and I'll take a look.

[2017-02-23 13:04] jrgarcia commented on #77
I'm not in front of a computer, but I'll take a look as soon as I can.

[2017-02-27 08:06] scambra opened #79 "Migrate volumes to different datastore"
I didn't see any request to change volume to different datastore, can you add it?

I checked SDK and I guess it's done with VirtualMachineRelocateSpec or VirtualMachineRelocateSpecDiskLocator, not sure which one

http://pubs.vmware.com/vsphere-65/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.RelocateSpec.html
http://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.

[2017-02-27 15:00] jrgarcia commented on #79
I'll take a look. I inherited this project, so I'm not entirely sure what's fully implemented and what's not. I'll take a look at that as soon as I get a chance though. I just started a new position today, so I may be a little bit slower to respond, but I'll do what I can as soon as possible.

[2017-03-01 22:16] jrgarcia commented on #79
Looking [here](https://github.com/fog/fog-vsphere/blob/930fc402cdcdf37e7614a44574ec8db833500baf/lib/fog/vsphere/requests/compute/vm_clone.rb#L62) and [here](https://github.com/fog/fog-vsphere/blob/930fc402cdcdf37e7614a44574ec8db833500baf/lib/fog/vsphere/requests/compute/vm_clone.rb#L586-L599), it looks like you may be able to use `vm_clone` to relocate a disk. I think if you pass a `transform` opt

[2017-03-03 13:02] scambra commented on #79
Thanks for giving a look. I'm not sure what you mean, I checked vsphere doc and it accepts flat and sparse strings. After reading this [doc](http://pubs.vmware.com/vsphere-65/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.RelocateSpec.html) I think adding disk option to RelocateSpec in vm_clone would work to migrate only few volumes, vm_clone supports datastore option which I guess would

[2017-03-03 13:18] scambra opened #80 "suspend vm"
Add vm_suspend request for SuspendVM_Task, so all energy related tasks of vsphere are supported. There are power on and power off requests, using PowerOffVM_Task and PowerOnVM_Task, and vm reboot request which uses ResetVM_Task or RebootGuest, only SuspendVM_Task missing, if I don't miss other tasks

[2017-03-10 08:44] scambra opened #81 "Change connected status of interfaces"
I would like to change connected status of interfaces in an existing vm. It's possible to change in vcenter, with edit settings for hardware. I don't see how to change it with fog, I read some sdk docs and I didn't find how to do it, but I guess it's possible.

If you give some guiding to do it with RbVmomi, I could give a try and send a pull request

[2017-03-10 17:40] jrgarcia commented on #81
I'm actually not sure what's available for that, but I'll check on that and see what's available.

[2017-03-10 18:00] jrgarcia commented on #81
I imagine you could use the `ReconfigureVM_Task` on `VirtualMachine` and pass it the changes to the interface. I will test this later today to see if it's possible and how.

[2017-03-16 14:24] jrgarcia commented on #81
I just realized there is a `update_vm_interface` method. Would that not handle this?

[2017-03-16 14:40] scambra commented on #81
I will give a try

[2017-03-16 21:09] #80 closed

[2017-03-16 21:10] jrgarcia commented on #80
Sorry it took me so long to add this! I'll push a new release with this soon.

[2017-03-17 12:27] scambra commented on #80
thanks!

[2017-03-22 09:13] scambra commented on #81
I don't think update_vm_interface will change connected flag, it sends deviceChange parameter, with operation edit and device = raw_interface, the only changed in raw_interface is backing, using interface from options argument.

I think it would be nice to have a way to change connectable attribute in raw interface: https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.vm.

[2017-03-22 13:55] jrgarcia commented on #81
I think I'd be ok with that, but I don't really want to make that method bigger. If we could move that logic into a private method that gets called inside `update_vm_interface` that would be great. See `vm_clone` for why continuing to add functionality inline worries me :smile:. Do you want to make a PR for this to get the credit for the work or do you want me to implement it?

[2017-03-22 14:40] scambra commented on #81
Ok, I added pull request using a private method, I didn't have chance to test that code

[2017-03-23 21:37] #81 closed

[2017-05-04 08:15] MiloCheung commented on #65
hi @jrgarcia , finally I figure out how to use the customization_spec. So that I close this ticket. thanks.

[2017-05-04 08:15] #65 closed

[2017-05-04 16:52] jrgarcia commented on #65
@MiloCheung Thanks for closing that! I'm glad you got it working, but I feel like that took a lot longer than it should have. Do you have any recommendations on how I can make that easier for people going forward? I want RbVmomi to be as easy as possible to use.

[2017-06-20 03:25] nward opened #92 "dvportgroup names should be referenced by `key`"
See http://projects.theforeman.org/issues/19623 for back story and a possible patch.

Happy to submit one myself if you'd like.

(I am not the author of the above link, but, have come across the same problem)

[2017-06-20 04:13] jrgarcia commented on #92
@nward Feel free to submit a PR. I don't mind doing it, but it may be a while before I get a chance to look at that backstory and patch.

[2017-06-22 16:38] mmoore0011 opened #93 "Add ability to set coreos guestinfo parameters during vmclone"
There might be a better way to do this so I'm open to other suggestions, but it seems that a good way to inject custom configs to coreOS VMs is via the guestinfo backdoor as documented in these links:

https://robertlabrie.wordpress.com/2015/09/27/coreos-on-vmware-using-vmware-guestinfo-api/
https://coreos.com/os/docs/latest/booting-on-vmware.html#defining-the-ignition-config-in-guestinfo

It woul

[2017-06-26 22:25] jrgarcia commented on #93
This is available from [RbVmomi](https://github.com/vmware/rbvmomi), but not exposed in fog-vsphere. I'll see if I can find some time to make that available from fog-vsphere. If you need this pretty quickly, I'd suggest looking at using RbVmomi (which fog-vsphere uses to interact with vSphere).

[2017-07-05 05:50] wiad commented on #92
I am the OP of the bug report on theforemans bug tracker, submitting a PR of my solution to this 'problem'.

[2017-07-05 05:57] wiad commented on #92
The bug report at theforeman is kind of sprawling, I will try to explain the problem in a more condensed form:
My problem was that I was getting different identifiers for my vmware dv portgroups in Foreman - when I created a machine the network was identified with one value (dvportgroup-XX) but when I tried to edit the machine validation failed since the dvportgroup was then identified with a diff

[2017-07-05 15:10] jrgarcia commented on #92
Thanks for the "condensed" explanation!

[2017-07-05 15:13] #92 closed

[2017-07-06 11:45] scornelissen85 opened #95 "Error when clone VM from template to other cluster"
I have a template VM, which is located at cluster A. This cluster has it's own datastore cluster. This Cluster consists of several ESX hosts. The template is placed on one of these ESX hosts, and stored on one of the datastores in the datastore cluster, attached to cluster A.

Next to cluster A I have cluster B, also with it's own datastore cluster and ESX hosts. Both clusters are in the same reso

[2017-07-06 12:02] scornelissen85 commented on #95
I see that https://github.com/fog/fog-vsphere/pull/70 fixes my issue. Closing for now.

[2017-07-06 12:02] #95 closed

[2017-07-06 15:55] jrgarcia commented on #95
Ok, that PR needs some changes that never got made. I'll accept it later today and make the necessary changes.

[2017-07-10 17:07] #69 closed

[2017-07-10 17:15] jrgarcia commented on #95
@scornelissen85 I apologize for not getting to this sooner, but I just released 1.11.2 with #70 included.

[2017-07-11 07:23] scornelissen85 commented on #95
Thanks.

[2017-07-12 10:37] fatmcgav opened #96 "Cloud-init 'runcmd' doesn't work on Linux VM"
#34 added support for running the 'runcmd' section from cloud-init data.

However those changes don't work on Linux VMs', as they use the 'SysPrep' functionality...

Would be really good to be able to support on Linux VMs' aswell...

[2017-07-19 02:56] mmoore0011 commented on #93
thanks @jrgarcia  I ended up taking your advice and containerized a rbvmomi script that will do the specific coreos customized clones.  https://github.com/mmoore0011/CoreCloner

[2017-07-26 19:49] chris1984 commented on #62
@jrgarcia Can I help with this issue, it would be cool to contribute some code to Fog :)

[2017-07-26 19:52] jrgarcia commented on #62
👍 By all means

[2017-07-28 10:08] angystardust commented on #96
As mentioned by the foreman devs here (https://groups.google.com/d/topic/foreman-dev/n1QkZF1QVxU/discussion), I'm afraid that the "runcmd" support on Linux is limited by the vmware CustomSpecs...

[2017-08-01 13:54] derekmwright opened #99 "list_compute_resources fails when folder present within the datacenter level"
I will be submitting a PR shortly that fixes

Here is the trace:

[code]

[2017-08-02 17:26] derekmwright opened #101 "list_hosts function does not return standalone hosts"
Might need to refactor this but I'm not sure what it will break. Here's what I'm thinking:

1. Default w/ no Arg is return all hosts within all datacenters, return `:datacenter` & `:cluster =|| nil` (nil indicating standalone) attributes
2. Provide `:datacenter` attribute to filter to DC, list all hosts across all clusters
3. Provide `:datacenter` & `:cluster` to filter hosts to a DC and cluster

[2017-08-31 14:50] scambra commented on #77
I have it working with the code I post last

[2017-08-31 14:50] #77 closed

[2017-08-31 16:34] #99 closed

[2017-09-04 16:55] puppetpies opened #108 "Issue creating storage volume"
output = compute.volumes.create('server_id' => "50139021-8a50-cf77-3395-f1806364cd9a",
                                      'size_gb' => "10",
                                      'name' => "myvol1}",
                                      'datastore' => "datastore1")
      pp output

I Seem to be getting to below error when i try to create a new volume for my VM.

/usr/lib64/ruby/gems/2.4.0/gems

[2017-09-06 13:39] elnappo commented on #27
I'm running Foreman 0.15 on Ubuntu 16.04 and got the same error:
[code]

[2017-09-18 15:08] puppetpies commented on #108
Do you have any pointers of what i might need to look at the fix this ?

[2017-09-18 15:11] Zugschlus opened #112 "please give documentation about DRS rules"
Hi,
I would like to create virtual machines with a DRS rule to not place two machines (culster nodes) together on the same ESX server if possible. I have seen in the change log that fog-vsphere supports DRS rules but there is absolutly no documentation. Is it possible to have docs or even examples, so that I can try making sense out of things with the help of my VMware people?
Thanks!
Greetings
Ma

[2017-09-18 21:24] jrgarcia commented on #112
While I did approve and go through the change, I don't remember exactly how it was done. I'll see if I can pull that up and write something up for you. Thanks for reporting!

[2017-09-18 22:50] pedantic-git commented on #112
It's been a long time but I think it was me that added the DRS rules, although I think only cluster affinity is supported (adding others should be easy).

There are examples of usage in the test file: https://github.com/fog/fog-vsphere/blob/master/tests/models/compute/rules_tests.rb

[2017-09-22 09:02] kairel opened #113 "Datastores : Get datastore in maintenance mode"
Hi,

i try to check datastores who are in maintenance mode , but no field in datastore is present.
I've add it in list_datastores

[code]
I don't know if it's the best way for implement it ?

Michael

[2017-09-22 17:34] puppetpies commented on #108
Anyone?

[2017-10-03 13:28] dLobatog commented on #27
Could it be that the VMs that have this issue are using OVA provisioning? Asking because someone in the Foreman issue tracker already commented on it http://projects.theforeman.org/issues/14193

[2017-10-03 19:20] timogoebel commented on #27
To debug this, I'd suggest adding some debug code here:
https://github.com/fog/fog-vsphere/blob/ac775b6d0eea0e7e015a992acb3b92eb185c9054/lib/fog/vsphere/models/compute/interfaces.rb#L20

Something like:

[code]

[2017-10-04 13:22] Zugschlus commented on #112
Hi, @jrgarcia, anything new happening here?
@pedantic-git, I obviously don't have enough VMware knowledge to guess what the example code means :-(

[2017-10-04 14:20] carlospuga commented on #112
I also added code to the DRS rules but for anti-affinity.
It too was a long time ago but the following is an implementation that you can use as a sample.
The add_node.rb calls the drs_rule_manager.rb which leverages the fog-vsphere-1.5.1.gem.
Hope it can help.
https://github.com/oneops/circuit-oneops-1/blob/master/components/cookbooks/vsphere/recipes/add_node.rb
https://github.com/oneops/circuit-o

[2017-10-05 09:21] pedantic-git commented on #112
Hi @Zugschlus - it's been a long time, but from the example code I'm pretty sure you can just create a new rule by calling `cluster.rules.new` and then assign VMs to it:

[code]

The `RbVmomi::VIM::ClusterAffinityRuleSpec` is a rule type constant taken from RbVmomi. If you need something different from affinity you could take a look at the constants in that library.

The `cluster` is a fog cluster

[2017-11-01 14:20] derekmwright commented on #113
So, I'm not sure at the "fog" level if there is standardization across provider types to present specific attributes. If there isn't and each provider can implement whatever attributes they want, then I'd vote to do something similar but maybe just call the attribute `maintenance` and return a boolean. This would also be handy for host models as well. This would allow for the idiomatic method of `

[2017-11-03 20:37] #62 closed

[2017-12-06 09:20] lzap commented on #96
Yeah, that's the case. Wondering why they designed it this way, perhaps for Windows compatibility. Not sure.

[2017-12-22 09:48] MrMEEE commented on #96
Is it the same case for "write_files"?

[2018-01-05 13:02] yrmallu opened #121 "Module 'Disk' power on failed"
Failed to lock the fail

An error was received from the ESX host while powering on VM Windiws_mysql-233432.

Failed to start the virtual machine

Module 'Disk' power on failed

cannot open disk 'vmfs/volumes/5eas7fada67/Windows2012/Windows2012.vmdk' or one of the scanpshot disks it depends on

While cloning windows instance it's allocating same disk for all. Please let me know how to fix this issu

[2018-01-15 14:33] chris1984 commented on #108
I will start looking into this

[2018-01-16 14:17] chris1984 commented on #108
@jrgarcia can you assign this one to me please?

[2018-01-22 10:08] puppetpies commented on #108
Thankyou for taking a look 👍

[2018-02-15 23:49] wyde19 commented on #101
Yes, and if you have no any clusters in your deployment, all of this is effectively useless.
I will think of a solution in a moment.

[2018-02-16 01:20] wyde19 commented on #101
Okay, I have several questions.
Either I am dumb, or current logic is completely broken (in several places).
I had a hard time untangling this code, but that's what I got.

https://github.com/wyde19/fog-vsphere/commit/97e44675e84d859fe37c0e5e40eb2d3302dffb00
Please, make a review @jrgarcia and write what do you think about it.

Anyway, at least that really returns *hosts* right now.
Although, ther

[2018-02-16 01:26] wyde19 commented on #101
@derekmwright I understand this issue is long due, but could you make few checks?
Please, check if instance of `ClusterComputeResource` when invoked with `#is_a?(ComputeResource)` returns `true`.
Also, do you have all those fields available on ComputeResource?
https://github.com/wyde19/fog-vsphere/commit/97e44675e84d859fe37c0e5e40eb2d3302dffb00#r27595863

[2018-02-27 03:57] manchiu opened #123 "Unable to fetch instanceUuid from VM"
Hi,
ERROR MSG: undefined method 'instanceUuid' for nil:NilClass
When I launch a new VM in vCenter and call list_hosts at the same time, this error occurs.
For `vm_ids:          Proc.new { host[:vm].map {|vm| vm.config.instanceUuid } }` in line 30,  are there any workarounds if vm.config.instanceUuid cannot be found like rescue nil? See if you have any concern
Thanks!
Greetings
Alex

/usr/share/rvm

[2018-02-27 13:05] timogoebel commented on #123
@manchiu: Thanks for the report. Basically, you can just `rescue nil`. But I'm wondering why this is happening in the first place.

Can you try with something like this and post the output?

[code]

or use pry debugger to find out, why `vm.config` is `nil`.

[2018-03-01 09:08] manchiu commented on #123
@timogoebel , I have tried and the output is as follow:

VirtualMachine
VirtualMachine
VirtualMachine
VirtualMachine
VirtualMachine
[2018-03-01T16:54:22.471895 #11503] ERROR -- : [v4.3.dev] Appcara::Cloud::Vcenter::Host#rescue in list - caused by /home/alexchiu/appcara/appstack-cloudengine/vendor/fog/vsphere/requests/compute/list_hosts.rb:29: **undefined method `instanceUuid' for nil:NilClass
Did

[2018-03-02 12:07] Zugschlus opened #124 "Please allow optional logging of requests sent to Vsphere to aid debugging"
Hi,

recently, the result of a "create VM" operation in The Foreman has changed, which has resulted in [a The Foreman forum entry.](https://community.theforeman.org/t/getting-lsilogic-scsi-adapter-in-vsphere-only/8502)

Finding out whether it was foreman changing things or the Vsphere world has suddenly changed its behavior would be tremendously easier if there were a possbility to intercept the A

[2018-03-07 16:13] rfrht opened #125 "Unable to provision VMs in ESXi with no DRS"
We're trying to provision a VM in a VMWare site with no DRS (DRS is a premium feature, this is a standard product), and it fails with the error:

2018-03-06 14:15:49 5c9e05ec [app] [W] Failed to create a compute ESX (VMware) instance test.example.com: SystemError: vim.fault.StorageDrsDisabledOnVm

Questions:

1. Is DRS required to run this module?
1.1 If true, why?
2. Else; can we please fix the c

[2018-03-07 16:44] chris1984 commented on #125
Hi @rfrht im working on your case at Red Hat and will take this on since im working with you

[2018-03-09 14:34] timogoebel commented on #124
@Zugschlus: Sorry for the long turnaround here.
It's possible to activate a debug mode in `rbvmomi` (the library used for connections with vsphere) through `fog-vsphere`:

[code]
This prints debug info to STDERR. In Foreman's case you should see the logs in the apache error log I think.
You can add that line in Foreman's codebase [here](https://github.com/theforeman/foreman/blob/ca51c5132566f7c260

[2018-03-09 14:38] timogoebel commented on #123
@manchiu: I think a `rescue nil` approach is feasible here. Do you feel comfortable opening a PR?

[2018-03-09 14:40] timogoebel commented on #125
Do you guys use "clone from template" or "pxe based provisiong" to set up the VM?

[2018-03-12 10:44] Zugschlus commented on #124
Hi Timo, thanks for the hint. It was a bit too late though, I used a socat - tcpdump - socat chain to snoop on foreman talking to the vCenter and was actually able to identify the issue with the obtained data.
Next time, I'm going to try this approach.
The current issue now mutates into the request for a possibility to set :vsphere_debug in some run-time configuration file so that it is not necess

[2018-03-13 03:01] manchiu commented on #123
@timogoebel : Sure. I have just opened a PR. May you help to review?

[2018-03-14 14:35] timogoebel commented on #123
Fixed via #126.

[2018-03-14 14:35] #123 closed

[2018-03-15 18:15] bp85 opened #128 "can't assign networking/datastore after upgrding to Vsphere 6.5"
Hi,

we're using fog-vsphere 1.9.2
After upgrading to Vsphere6.5 we're having difficulties creating new VMs via foreman
Initially we can't able to select the datacenter, but now after selecting the datacenter, I can't able to assign a network/ cannot create VM from foreman
I can create VM if I login to VSphere and assign proper network
I can list all the existing VMs in that datacenter, but can't

[2018-03-15 18:43] rfrht commented on #125
I'm closing this issue - Actually we were able to make it work by choosing the right options :-)
-NOTABUG

[2018-03-15 18:43] #125 closed

[2018-03-20 20:57] bp85 commented on #128
can someone acknowledge this issue?

[2018-03-21 15:41] bp85 commented on #128
I haven't collected the debug logs, but certainly can
Let me know which exact logs you want

[2018-03-21 16:20] chris1984 commented on #128
@bp85 can you get me the /var/log/foreman/production.log please.

[2018-03-21 17:19] bp85 commented on #128
@chris1984 I sent you foreman production log via email, let me know if you haven't received

[2018-03-21 20:43] chris1984 commented on #128
@bp85 I see this in the production.log

[code]

Are you using caching? Can I have you try the following and let me know the result:

[code]

[2018-03-22 14:37] bp85 commented on #128
@chris1984 I think chachig is enabled for VMware, but can be turned off
[code]

[2018-03-23 20:13] chris1984 commented on #128
@bp85 Can you try this and see if it helps:

[code]

[2018-03-24 19:54] bp85 commented on #128
@chris1984 , let me take a step back here and explain so that you have an idea of what happened here
Everything worked fine ( create VM through foreman) until a month ago, our Infrastructure team upgraded VMware Vsphere server to 6.5 from 5.5, after that the connection between Vsphere and foreman broken, Then I deleted compute resource(VMware) and re-created , Then I ran into an issue where in api

[2018-03-27 14:47] timogoebel opened #132 "Required property diskId is missing from data object of type VirtualMachineRelocateSpecDiskLocator"
Cloned from: https://projects.theforeman.org/issues/21520

VM cloning fails with since v1.13.0:

[code]

This was intoduced by b182db835e34af17ea43acc2029509a161104cef.

@scambra: Do you have any pointers how to fix this?

[2018-03-27 15:03] scambra commented on #132
Is it hapenning when cloning and adding new disks?
I have this code when I clone a vm:

[code]

server is the vm to be cloned, and this code is a method I call for each volume, to setup volumes before calling server.clone
vol.key is nil for new volumes, then I add volume to server.volumes, set vol.server and controller_key because calling set_unit_number needs it.

[2018-03-27 20:36] chris1984 opened #133 "Improve README and refactor documentation"
Improve README and refactor documentation

[2018-04-04 16:18] bp85 commented on #128
@chris1984 any thoughts ?

[2018-04-05 14:39] #132 closed

[2018-04-06 18:13] chris1984 commented on #128
@bp85 Hi sorry for the delay, a few things came up. I will start looking at this Monday again for you.

[2018-04-09 13:27] bp85 commented on #128
@chris1984 Thanks, Let me know if you need anything from me

[2018-04-09 17:57] chris1984 commented on #128
@timogoebel do you have any suggestions on this one? I am still trying a few things here and might need to set up a reproducer since I am unable to replicate it from 6.2 > 6.3

[2018-04-09 18:54] timogoebel commented on #128
@bp85: `No permission` errors from vSphere are usually just that: The user that you're using to access vSphere API does not have the required permissions.

To check that, you can access your vCenter directly by browsing to `https://your.vcenter.example.com/mob/?moid=group-d1`. Please login with the same credentials you are using in Foreman/Satellite. You should be able to navigate to your datacent

[2018-04-09 19:44] bp85 commented on #128
@timogoebel as I can see, there is no permission issue
<img width="1628" alt="screen shot 2018-04-09 at 3 40 26 pm" src="https://user-images.githubusercontent.com/17888860/38519161-e7c3af9a-3c0c-11e8-93dc-3a996c68712c.png">
<img width="1657" alt="screen shot 2018-04-09 at 3 39 52 pm" src="https://user-images.githubusercontent.com/17888860/38519162-e7d13d18-3c0c-11e8-960d-68a7806ad7bf.png">

[2018-04-10 15:28] chris1984 commented on #128
@bp85 do you think I could get your configs/database to try to test it here. I have not had luck getting it to replicate. Also for the role that Foreman/Fog is using can I have you run this powercli and update the ticket:

Get-VIPermission | Where {$_.Role –eq “Admin”} | Select Role, Principal, Entity, UI

[2018-04-12 16:54] timogoebel opened #136 "NetworkListing: vlan property not available for DVPortSetting"
22a99886 added support for listing the vlan id of a network.

It uses `network.config.defaultPortConfig.vlan` to get the vlan id. That property is only available when `network.config.defaultPortConfig` is of kind `VMwareDVSPortSetting` and not available when it is a `RbVmomi::VIM::DVPortSetting`.

We should add a gate for that.

Stack trace:

[code]

Initially reported on the [Foreman Community](h

[2018-04-12 19:10] chris1984 commented on #128
@bp85 Are you running just Foreman or Katello too?

[2018-04-12 21:12] bp85 commented on #128
@chris1984 Just foreman

[2018-04-12 21:29] chris1984 commented on #128
@bp85 can I get a copy of your configs and dbs by doing the following:

https://theforeman.org/manuals/1.16/index.html#5.5.1Backup

[2018-04-13 13:42] #136 closed

[2018-04-13 14:11] bp85 commented on #128
@chris1984 I sent you configs & DB, let me know if you haven't received them

[2018-04-16 13:36] chris1984 commented on #128
@bp85 I got the sql/configs, I will start working on looking at this.

[2018-04-16 18:09] bp85 commented on #128
@chris1984 Thanks, we're using foreman-1.15.6 and vSphere 6.5 on VMware

[2018-04-20 10:27] leewaa opened #139 "Modifying a virtual machine's interface requires the datacenter"
The current implementation of `#update_vm_interface` at https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/requests/compute/modify_vm_interface.rb#L19 is not functioning.

The call to `create_nic_backing` requires the datacenter (silently) to be provided, otherwise the network will not be found an a nil error will be thrown from `#list_container_view`.

[code]

[2018-04-22 12:46] #139 closed

[2018-04-23 16:40] chris1984 commented on #128
@bp85 Hi I was not able to recreate the issue here, let me know if I missed something, I made a recording here with the steps I did:

https://drive.google.com/file/d/1qKJVghYG-QX7digkh4EqfP4BkrpFTMCB/view?usp=sharing

[2018-04-25 19:17] bp85 commented on #128
@chris1984 , You're right the issue is not from foreman side, it is from vsphere.
After adding read only permissions to the vsphere server for foreman user, I was able to provision new vms  from foreman
I guess it is changed from 5.5 -> 6.5
Feel free to close this issue and Thanks for all your help in debugging this

[2018-04-26 07:29] timogoebel commented on #128
Thanks, guys.

[2018-04-26 07:29] #128 closed

[2018-06-13 15:03] timogoebel opened #144 "Improve speed of networks listing"
Listing networks is very slow. We should investigate how this can be improved. Possibly by reducing the API calls.

[2018-06-18 18:13] #144 closed

[2018-06-25 09:33] scambra opened #146 "Add 8th volume fails"
Exception is raised when filling id and other attributes after creating in vmware, but volume is actually created.

Here is a extract of save method:

[code]

Save method calls set_unit_number, which calls calculate_free_unit_number. That method avoids setting unit_number to 7, but after volume is created, unit_number is increased by 1 and created volume is not found.

Is it this code needed? Beca

[2018-06-25 13:28] scambra commented on #146
I know that, but calculate_free_number is taken 7 out, so after creating a volume with unit_number 6, it will assign unit_number 8. Then, after volume is created, unit_number is increased to 9, so created volume is not found.

I don't know if increasing unit_number is needed in case user assigns unit_number manually, instead of relying on calculate_free_number

[2018-06-27 08:00] timogoebel opened #147 "VM update: Single property deltaDiskFormatVariant provided multiple times"
https://github.com/fog/fog-vsphere/pull/142 changed the way we handle update to VMs.

[code]

We need to revise how we generate the specs for disk updates.

[2018-06-27 08:03] timogoebel commented on #146
@scambra: I belive this is a bug and it's not required to update the unit_number when it is assigned manually. Do you mind opening a PR? :-)

[2018-06-27 08:22] leewaa commented on #147
Ah good find 👍

[2018-06-29 19:48] chris1984 opened #148 "Non-clustered ESX hosts, no longer appear in host creation"
We are seeing a new issue with Foreman 1.17 and ESX 6.5, that previously worked on Foreman 1.16.

ESX hosts that are non clustered, no longer show up as an option in the Virtual Machine tab. It used to be that you could choose any host within an ESX DataCenter, regardless if it was part of a cluster or not.
We have numerous vcenters, many with dozens of hosts that are non-clustered.

It would be n

[2018-06-29 20:37] chris1984 opened #150 "Cannot add new disk to VM when using image based to provision"
Getting this when trying to add disk to image template, this has been fixed in foreman already, creating fix in fog now.

[code]

[2018-06-29 20:38] chris1984 commented on #150
https://community.theforeman.org/t/unable-to-provision-vmware-with-additional-disks/10110/3

[2018-07-02 08:01] #148 closed

[2018-07-03 07:55] #150 closed

[2018-09-26 05:54] chiccat opened #154 "Documentation"
Hi,
This module is awesome,
But is there any reliable documentation?

I can't even query clusters :/

puts compute.clusters.get("CLUSTER-1")

`requires': datacenter is required for this operation (ArgumentError)

Thanks in advance

[2018-09-26 06:31] timogoebel commented on #154
Just a quick hint, you need to traverse the tree here:

`puts compute.datacenters.get('ABC').clusters.get("CLUSTER-1")`

[2018-09-26 13:54] chris1984 commented on #154
Hi, I am working on this issue here: https://github.com/fog/fog-vsphere/issues/133

[2018-09-26 18:27] chiccat opened #155 "Fog vsphere cannot vm_clone on VVOL"
Hi guys,
Here's an issues I faced in foreman.
I was checking the source of foreman, but after realized it's an issue with this gem.

Code:
opts = {"datacenter"=>"DC1",
  "template_path"=>"Templates/centos75",
  "dest_folder"=>"/Datacenters/DC1/vm",
  "power_on"=>false,
  "start"=>"1",
  "name"=>"testvm.example.com",
  "numCPUs"=>"1",
  "numCoresPerSocket"=>"1",
  "memoryMB"=>"768",
  "datastore"=>

[2018-09-26 18:34] chris1984 commented on #155
@chiccat Thanks for the issue, we will take a look.

[2018-10-25 14:15] m-bucher opened #161 "VirtualMachine 'name' has encoded slashes"
Consider I have a VM called 'centos/7'
_(IMHO) expected behaviour:_
fog-vsphere will return the name as **'centos/7'**
_Actual behaviour:_
fog-vsphere returns the name as **'centos%2f7'**

Not sure if this also applies to other fields.

[2018-10-25 14:31] chris1984 commented on #161
@m-bucher thanks I will take a look at this

[2018-11-08 08:20] scambra commented on #146
fixed in #163

[2018-11-08 08:20] #146 closed

[2018-11-09 08:00] kensoncheung opened #166 "Failed to destroy VM interface with v2.4.0"
Hi there,

  I have encountered several issues in destroying VM interface.
  1. datacenter' is a required parameter in options
  - There is a pull request for patching this: https://github.com/fog/fog-vsphere/pull/165/files
  - I have also tried to fill in datacenter or put the interface object to options instead.
  - After doing so, I encountered another issue. (see #2)

  2. `public_send': undef

[2018-11-09 10:04] timogoebel commented on #166
@scambra: Does that sound familiar to you?

[2018-11-09 13:19] scambra commented on #166
I added datacenter option to destroy_vm_interface call to fix calling get_interface_from_options, but it's needed for create_interface calling now. I have added another commit to PR.

[2018-11-09 14:54] #166 closed

[2018-11-12 17:21] chris1984 opened #168 "Update rubocop.yaml to fix tests"

[2018-11-13 08:24] manchiu opened #169 "vm_clone: ERROR if options['volumes'] is not specified"
I would like to follow the exact hardware volume settings of the template while cloning a new VM. However, if I do not specify the options['volumes'], ERROR throws. Is it possible to check the existence of the options['volumes'] before entering the method of relocate_template_volumes_specs? Thanks!

Below are the ERROR backtrace:
[code]

[2018-11-13 08:28] timogoebel commented on #169
@manchiu: Do you mind sending a PR? I have the impression you pretty much know how to fix this.

[2018-11-13 10:39] manchiu commented on #169
@timogoebel . I have sent a PR. Please check. Thanks!

[2018-11-13 14:22] lhw commented on #93
We had the same issue here with foreman and just used workarounds for a while. But a simple fix was to edit cloudinit_to_customspec.rb to also expose extraConfig which is already added to the vm spec in vm_clone.
[code]
And adding a single line to the foreman vmware.rb:
[code]
These two changes allow for supplying guestinfo to the vm via the userdata from foreman. And I also use it to add the base

[2018-11-13 15:57] timogoebel commented on #93
@lhw: That looks interesting. Do you mind sending PRs for fog-vsphere and Foreman? I'll be happy to review and merge them.

[2018-11-15 01:25] #169 closed, assigned to chris1984

[2018-11-15 18:34] #168 closed

[2018-11-16 07:27] manchiu opened #174 "compute.rb: Datacenter cannot be determined if user does not have permission to hosts"
I do not have the permission to access the Hosts. At the same time, I have the permission to access the Datacenter of the VM. However, currently the implementation does not allow me to retrieve the Datacenter as it is using the Host to derive Datacenter.

[code]

My suggestion is to add a fall back mechanism which is to use the VM itself (vm_mob_ref.path) to derive the Datacenter if user does not

[2018-11-19 17:23] chris1984 commented on #174
@manchiu did you want to submit a pr for this? Happy to test, if not we can get to it when we can.

[2018-11-20 01:45] manchiu commented on #174
@chris1984 Sure. I can submit a pr for this

[2018-11-26 12:07] Ryuzavi opened #177 "get_raw_vmfolder method now fails due to 'blank?' method being attempted against strings for `type` param"
Hey

Found this issue today when trying out fog-vsphere.  It appears the recent changes to `get_folder` has introduced an error whenever `get_raw_vmfolder` is called from other resources such as `clone_vm` or `list_folders`.

The specific problem is `get_raw_vmfolder` calls `get_folder` and sets the `type` param to `'vm'`:
https://github.com/fog/fog-vsphere/blob/443aa7b8146f021303eaedd125c89326dba

[2018-11-27 08:31] manchiu opened #179 "vm_clone: suggest to modify the :template parameter as an options['template'] instead of false in CloneVM_Task"
The :template parameter is always false in the current implementation. However, I have a use case which is to clone a VM to a template. Therefore, I suggest to modify this field as an option. Below is the code suggestion:
[code]

[2018-11-27 15:18] chris1984 commented on #179
Thanks, @manchiu I will submit a patch for it, if you want to test it when I get it submitted. I will take care of doing the Foreman testing.

[2018-11-28 07:29] manchiu opened #181 "compute.rb: suggest to store the id or the object itself instead of name for RbVmomi object in props_to_attr_hash"
In the current implementation, it stores the name of the RbVmomi object in props_to_attr_hash method. However, in my vCenter, some RbVmomi objects have the same name like datacenter, cluster, resource pool etc as they are stored in different folders. It will be hard to distinguish for those RbVmomi objects with the same name. Therefore, I suggest to store the ID or the object itself for differenti

[2018-11-28 17:19] #179 closed

[2018-11-30 23:36] serj1408 opened #182 "Unable to load Fog::Vsphere::Compute"
How to avoid these type of warnings? It used to work and I can't find any new format documentation. Or is it a bug?
[code]
Ruby version 2.1.3
[code]

[2018-12-03 08:01] timogoebel commented on #182
This might be due to a change in fog-core.
I believe we need to change our code to use autoload, similar to https://github.com/fog/fog-digitalocean/commit/5a023b40ee971529e2d3d5b8fb27869f5fb01934.

@chris1984: We have seen this in Foreman as well, so we should take care of this. Better sooner than later ;-)

[2018-12-20 13:47] heyimacomputer opened #184 "Issue using create_vm -- perhaps I'm clueless"
Hi folks,

I'm trying to do something quite simple, create a VM, using fog-vsphere. And yet I'm running into a brick wall, surely due to my own ignorance, but I'm looking for some guidance.

What seems to be happening is that I'm unable to create a VM without defining a volume, but I can't create a volume without specifying a server_id (aka an already existing VM). At least that's how I'm reading

[2018-12-21 08:50] timogoebel commented on #184
Let me give you an example that is supposed to work. I hope you can figure it out from here.

[code]

[2018-12-21 14:00] heyimacomputer commented on #184
Worked like a charm, thanks @timogoebel , I was making a huge error calling create_vm directly. This clarified a LOT.

[2018-12-21 14:01] #184 closed

[2018-12-28 10:39] #174 closed

[2019-01-07 10:15] mkesper opened #185 "Make newer versions of rbvmomi usable"
rbvmomi is released in version 2.0, changing from deprecated trollop to optimist package.

[2019-01-07 18:45] chris1984 commented on #185
@mkesper I only see v.1.12.0 out

https://github.com/vmware/rbvmomi/releases

We are using 1.9
https://github.com/fog/fog-vsphere/blob/master/fog-vsphere.gemspec#L25

Where are you seeing 2.0?

[2019-01-08 16:12] mkesper commented on #185
Let me rephrase it: Please support rbvmomi >= 2.0
It's available as gem https://rubygems.org/gems/rbvmomi

[2019-01-08 16:52] chris1984 commented on #185
Thanks, I will move this to the planning board.

[2019-02-15 20:54] infernokodiak opened #186 "group model"
I believe this is an enhancement request.  There doesn't appear to be a way to make changes to a VM / Host Group through fog-vsphere. Is that right?

I'ld like to be able to find a group, make a change to the ids in the vm_ids key and then save it.  How do I accomplish this?

[2019-02-18 08:16] timogoebel commented on #185
Fixed in GH-187.

[2019-02-18 08:16] #185 closed

[2019-02-18 20:11] chris1984 opened #188 "get raw folder has old ruby string method"
[1] pry(#<Fog::Compute::Vsphere::Real>)> exit
Traceback (most recent call last):
	4: from fog-create.rb:49:in `<main>'
	3: from /home/chrobert/.rvm/gems/ruby-2.5.3/gems/fog-vsphere-2.5.0/lib/fog/vsphere/models/compute/server.rb:301:in `save'
	2: from /home/chrobert/.rvm/gems/ruby-2.5.3/gems/fog-vsphere-2.5.0/lib/fog/vsphere/requests/compute/create_vm.rb:29:in `create_vm'
	1: from /home/chrobert/.r

[2019-02-20 08:04] #188 closed

[2019-03-13 20:28] tarcinil commented on #182
@chris1984 - Have you completed any work on this?  Any issues with me making an attempt at it?

[2019-03-13 21:34] timogoebel commented on #182
cc: @ares, @ezr-ondrej

[2019-03-14 03:32] chris1984 commented on #182
@tarcinil have at it

[2019-03-18 12:24] ezr-ondrej commented on #182
@tarcinil I would do what @timogoebel suggested and move to the autoload structure of the project. Have you done anything yet? Or should I do it?

[2019-03-18 14:08] tarcinil commented on #182
@ezr-ondrej I have not started the work but that was my plan.  I was planning on starting my work tonight and having something reviewable by the weekend.

[2019-03-18 14:46] ezr-ondrej commented on #182
If you'll give me about an hour, I'll produce testable version of that (WIP PR), I am finishing the testing. So you can base on that. I will move the files and give it some spins to see if it is not marginally broken.

[2019-03-18 20:19] ezr-ondrej commented on #182
After bit of an investigation I beleive the prefered way is the oposite of what **digitalocean** did.
And I believe the finite answer is: https://github.com/fog/fog-core/blob/master/spec/compute_spec.rb.

[2019-03-20 16:07] ares commented on #182
Hello, we plan to bump fog in Foreman core soon, how far are we from having this ready? Thanks.

[2019-03-20 17:16] ezr-ondrej commented on #182
I believe, that @timogoebel agrees with the change and the PR is close to merging, but it is quite a big change, so it is up to him, how confident he is with merging.

[2019-03-20 19:56] timogoebel commented on #182
I just merged the PR, will release 3.0.0 in the next couple of minutes.

[2019-03-20 19:56] #182 closed

[2019-03-22 23:39] ezr-ondrej opened #193 "Make server boot_order attribute retrievable"
Boot_order is settable as parameter on creating of vm, but it is not possible to retrieve it and preferably even change it lately.

[2019-03-24 23:16] ezr-ondrej opened #197 "Encapsulate requests"
As discussed in https://github.com/fog/fog-vsphere/pull/195, it would be nice not to pollute class `Fog::Vsphere::Compute::Real` that much and encapsulate each request in separate request class.
I'll try to do that and tag this issue for that.

[2019-03-26 17:09] ezr-ondrej opened #201 "Create storagePod disks correctly while cloning"
As of now, adding more disk to the storagePod will fail on cloning the VM.

[2019-03-27 17:12] #201 closed

[2019-03-30 18:42] ezr-ondrej opened #203 "Allow network lookup by it's ref (what is effectively an id)"

[2019-04-01 06:57] #203 closed

[2019-04-17 00:54] ezr-ondrej opened #208 "Cover by meaningful test suit"
Currently we do not have really meaningful test suit. It would be great to at least hit all the important methods from `Compute::Real` class.

[2019-06-06 13:51] ezr-ondrej opened #212 "Support create/clone vm backed by more DRS storagePods"
Currently, if one volume is on storagePod, everything goes to that storagePod.
We should support different storagePods backing different volumes

[2019-06-10 14:48] #212 closed

[2019-07-01 21:06] chris1984 opened #216 "Unable to build a vm using an image and adding a 2nd disk in the same datastore cluster with Foreman nightly"
Unable to build a vm using an image and adding a 2nd disk in the same datastore cluster with Foreman nightly:

[code]

[2019-07-16 15:57] Rohan21Lobo opened #218 "Annotation Notes are not set in Image based builds"

[2019-07-17 09:13] #218 closed

[2019-07-17 13:14] chris1984 opened #220 "Check disk space before sending to VMware"
When we create a VM as a fallback we should check the diskspace on a datastore/storage_pod before we commit and if there is not enough space left we fail and alert Foreman or the user if Foreman is not being used.

[2019-07-17 13:15] #216 closed

[2019-07-17 20:54] ezr-ondrej commented on #220
Or we can just make the cloning on the storagePods atomic again - meaning delete the created machine.

[2019-07-31 13:13] kartikaydw commented on #132
Hey @chris1984 @scambra

I am getting below error while attaching the disk. Any Pointers?

**Required property id is missing from data object of type ID

while parsing serialized DataObject of type vim.vslm.ID
at line 1, column 255

while parsing call information for method AttachDisk_Task
at line 1, column 177

while parsing SOAP body
at line 1, column 167

while parsing SOAP envelope
at line 1,

[2019-07-31 13:23] chris1984 commented on #132
@kartikaydw Are you using this with foreman or just the script alone?

[2019-07-31 15:11] ezr-ondrej commented on #132
Hi, where have you took the code snipet?
It seems you are using directly the `rbvmomi` object. In such case I would suggest consulting a vSphere API documentation. Worth checking `did` is a number ;)

[2019-07-31 18:20] kartikaydw commented on #132
Hey @chris1984 @ezr-ondrej , Thanks for your quick responses.

Yes I am using this in rbvmomi script where I am using vStorageObjectManager to created disk and then AttachDisk_Task to attach the created disk. To diskId parameter is causing issues from inside the script whereas when I pass the same diskId through MOB the disk gets attached.

for better reference, below is snippet to create a disk a

[2019-08-05 21:10] ezr-ondrej commented on #132
Hi, I really believe you should open the issue in `rbvmomi`, but I have given fast look at the docs, you should use a`diskId: {id: did}` - nest it further :)

[2019-08-06 07:53] kartikaydw commented on #132
Hi @ezr-ondrej ,
Thank you soooooo much, this works. It was driving me crazy and I was not able to find any reference.
Thanks a lot for looking into this and providing a working solution.

[2019-08-27 13:55] ezr-ondrej opened #233 "Create VM on storagePod is broken"

[2019-09-20 15:10] jsirianni opened #235 "What does this mean? "uninitialized constant Fog::Compute::Vsphere::Datastore""
I use a project that relies on FOG, I get this error:
[code]

This only happens when a another fog process is cloning a template.

I dont have much info, but if I knew what the error meant, maybe I could provide more context.

[2019-09-23 13:25] timogoebel commented on #235
Basically, ruby is having issues looking up this constant. Can you provide a stack trace to figure out in which context this is happening?

[2019-11-04 21:52] edergillian commented on #235
I have a similar problem when using Foreman 1.22.0. This happens sometimes when creating a host to be deployed on vCenter. It's not always reproducible; when it happens, a few refreshes on the web UI and it works again. Here's a partial log from Foreman:

[code]

[2019-11-05 10:40] ezr-ondrej commented on #235
@edergillian I believe there is something messed up with the cache in foreman, but I am not sure what. Could you try to disable the cache for that vCenter? ... also, it would be better if you could post it to the community.theforeman.org in support category as it is probably only foreman related.

[2019-11-05 14:11] edergillian commented on #235
Thanks for the tip! I'll disable the cache and run some tests. It's gonna take a while to see some real results though, as it does not happen everytime.

I'll also make a post on the Foreman community.

[2019-12-09 00:11] ezr-ondrej opened #237 "Cluster is not loaded for simple cluster"
If the VM is not on the real cluster, the cluster is `nil`, but it is still a cluster, only simple one.

[2019-12-10 22:55] #237 closed

[2020-01-14 16:50] ezr-ondrej opened #239 "Check cluster existance on vm creation"
When we create are creating VM and pass nonexistend cluster, we get:

`undefined method `resourcePool' for #RbVmomi::VIM::Folder` what is not really user friendly error.

[2020-01-31 09:52] #239 closed

[2020-02-09 06:02] robsee opened #245 "def raw_to_hash(nic) in list_vm_interfaces.rb does not handle nsx-t interfaces"
def raw_to_hash currently returns nil for the network when an interface is linked to an NSX-T segment. This breaks provisioning within foreman when using nsx-t segments

[2020-02-09 14:55] robsee commented on #245
It looks like a helper such as https://github.com/terraform-providers/terraform-provider-vsphere/blob/master/vsphere/internal/helper/nsx/nsx_helper.go would be needed.

[2020-02-10 08:05] timogoebel commented on #245
@robsee:

If I understand you correctly, the issue occurs here.
Do you know what needs to be changed for this to work? I can help you with the ruby side of the issue, but would need some help with the logic.

https://github.com/fog/fog-vsphere/blob/e137fa794f0641c0e59535fbd9ef9a9ed000e85f/lib/fog/vsphere/requests/compute/list_vm_interfaces.rb#L65-L85

[2020-02-11 02:35] robsee commented on #245
Yes this is correct.
You have access to nic.backing.opaqueNetworkId which is a UUID. The problem is that you can't work backwards directly from that to a network name or id. As far as I know you have to do a scan of all of the available port groups, and the look for the one with the matching opaqueNetworkId to get the actual portgroup name/id. I couldn't see a way to do this within the existing mo

[2020-02-11 02:40] robsee commented on #245
<https://github.com/OpenNebula/one/blob/master/src/vmm_mad/remotes/lib/vcenter_driver/virtual_machine.rb#L740-759> is how they handled

[2020-02-15 15:13] robsee commented on #245
My attempt at a fix:
https://github.com/robsee/fog-vsphere/commit/18396a3ff8e73ebe86eabfcc58be74b38668c503

[2020-02-15 15:16] timogoebel commented on #245
@robsee: Nice, do you mind opening a PR? There are some small nits we need to address, but I can totally see the PR merged soon.

[2020-04-07 15:01] fwdIT commented on #245
I think we can close this, no ?
@ezr-ondrej can you make a new release plz *fingers crossed* :)
would be nice to also have this included in the v2.0 repo

[2020-04-07 15:14] timogoebel commented on #245
@fwdIT : There you go: https://rubygems.org/gems/fog-vsphere/versions/3.3.0

To bump the version in foreman, do you mind opening a PR at the foreman-packaging repo?

[2020-04-07 15:14] #245 closed

[2020-04-07 21:29] chris1984 commented on #245
@fwdIT let me know if you have any issues bumping the release, I can create the PR if you hit too many issues.

[2020-04-08 06:21] fwdIT commented on #245
@timogoebel thx
@chris1984 will have a look at it now, first time but let's see if I can figure it out :)

[2020-04-08 19:16] fwdIT commented on #245
@chris1984 not there yet, it was a busy day at work but through irc I learnt this morning at least about the need / use of git-annex for the reference to the gem. installation on macos was easy but then when following the steps in the  README I got stuck on spectool (rpm stuff is not that nice on macos). So I created a docker rhel7 image mapping to my git repo folder (with my ssh/git config) and

[2020-04-30 08:25] drz9 opened #250 "Cloning a VM does not enable NIC at startup"
When I am cloning a VM (image based Foreman provisioning) the NIC is not connected at startup.
In the new VMs .vmx-File it is explicitely stated as: ethernet0.startConnected = "FALSE"
The template itself has not set this key.

[2020-05-04 14:01] #250 closed

[2020-05-04 14:02] drz9 commented on #250
Cloning does work and enable the interface. Issue is on Windows sysprep and Ipv6 setting which causes the issue when VMware Tools are doing Guest Customization

[2020-05-04 14:05] chris1984 commented on #250
Thanks for following up on this @drz9 sorry I didnt get to it

[2020-06-16 15:46] rlazoryshchak opened #253 "Add ability to create/update Resource Pools"
I've looked into the project and don't found the way how to manage(create/update) Resource Pool. I think it would be great have such functionality.

[2020-06-18 18:40] ezr-ondrej commented on #253
@rlazoryshchak thanks for the notice. We are currently quite short-handed though. Is there someone who could help us implementing it? I would be happy to provide help and guidance.
I'll do my best to get to it asap if no one will, but I can make no promisses.

[2020-06-22 07:22] rlazoryshchak commented on #253
Okay I will try.

[2020-06-24 13:31] chris1984 commented on #253
Same if you need help just let us know, or one of us can pick it up.

[2020-07-09 14:01] rlazoryshchak commented on #253
@ezr-ondrej or @chris1984 how I can contact to you? I have some questions... My e-mail in profile.

[2020-07-09 14:17] chris1984 commented on #253
@rlazoryshchak thanks for reaching out! I got your email I will reply shortly.

[2020-07-14 09:39] rlazoryshchak opened #256 "list_resource_pools returns incorrect resource pool name"
When folder_path(resource_pool) for example '/Datacenters/DC1/host/vc-qa-DC1-cluster1/Resources/RP1/Resources'
Then we get unexpected resource pool name:
[code]
But should be `"RP1/Resources"`

[2020-07-14 10:20] rlazoryshchak commented on #256
@ezr-ondrej or @chris1984 could someone of you check this:

fog-vsphere/lib/fog/vsphere/requests/compute/list_resource_pools.rb:39
[code]
could be replaced by:
[code]

[2020-07-15 18:50] chris1984 opened #258 "Disable or remove codeclimate"
Code Climate has been failing for a while now which looks bad on pull requests and releases.

I propose we turn it off for the time being until we get time to refactor parts of the code that it's upset about.

Thoughts @ezr-ondrej @rlazoryshchak @timogoebel

[2020-07-16 07:23] timogoebel commented on #258
@timogoebel, FWIW I'm in favor of removing codeclimate.

[2020-07-16 14:00] ezr-ondrej commented on #258
Yeah, we don't need red PRs to know the code is not in the best shape.

[2020-07-16 14:00] chris1984 commented on #258
Thanks guys, I'll open a PR to remove it

[2020-07-17 12:38] #256 closed

[2020-07-30 11:11] rlazoryshchak opened #261 "Fix resource pool creation with '/' in name"
[code]
This request will failed such like '/' character present in name.

[2020-10-06 14:21] #79 closed

[2020-10-27 17:39] pendor opened #265 "Expose _ref attribute of Compute::Network"
The `get_network` and `get_raw_network` functions in Fog::Vsphere::Compute::Real [lib/fog/vsphere/requests/compute/get_network.rb](https://github.com/fog/fog-vsphere/blob/master/lib/fog/vsphere/requests/compute/get_network.rb) accept either a Name or a _ref attribute of a network object.  The Fog::Vsphere::Compute::Network object in [lib/fog/vsphere/models/compute/network.rb](https://github.com/fo

[2020-12-09 13:23] ezr-ondrej commented on #265
Thanks a lot @pendor! This has been released as part of v3.5.0 release.

[2020-12-09 13:23] #265 closed

[2021-07-14 08:36] m-bucher opened #269 "Snapshot of running VM always includes memory"
https://github.com/fog/fog-vsphere/blob/6333944345ae0dd036e2605709ec06ca317c3441/lib/fog/vsphere/requests/compute/vm_take_snapshot.rb#L12
This came up in https://github.com/ATIX-AG/foreman_snapshot_management/issues/67

Also: is there a reason `quiesce` is not set to true by default? From [the description in the vmware-docs](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/b525fb12-61bb-4ede

[2021-07-14 13:30] chris1984 commented on #269
will start to test

[2022-05-12 20:18] phess opened #272 "Creating ESX compute resource on vcenter 7.x fails with InvalidArgument: A specified parameter was not correct: deviceChange[1].device.key"
Opened originally at https://bugzilla.redhat.com/show_bug.cgi?id=2072696.
Currently resolved.
PR incoming.

[2022-05-16 17:41] #272 closed

[2022-06-23 14:15] chhith opened #276 "Vmware's content librairies"
Hello,

I'm using Foreman to deploy VMs on a vcenter server by using OVF templates. My question is :
does the library fog-vsphere includes vmware's content librairies ?
I would like to use templates from the content librairies for a better and simpler organisation.

Thank you for your help.
Kinds.
Chhith

[2022-11-18 11:33] ekohl opened #279 "rbvmomi is deprecated"
The repository is archived (https://github.com/vmware-archive/rbvmomi). Additionally the replacement (based on the new REST API) is also archived (https://github.com/vmware-archive/vsphere-automation-sdk-ruby).

This gem depends on it for basically all its functionality so I wonder what the path forward is.

[2022-11-18 12:47] ekohl commented on #279
Someone pointed out there is a [rbvmomi2](https://github.com/ManageIQ/rbvmomi2) fork. That may be the easiest path forward.